# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Odoo
*.pyc
filestore/
jira_projectcopie/

# ML Models (optionnel - décommenter si le .pkl est trop gros)
# ml_models/*.pkl

# Logs
*.log

# Env
.env
venv/